<div class="tabs">
    <h1 class="big cen">Frequently Asked Questions</h1>
    <div class="tab">
        <input type="radio" id="rd1" name="rd">
        <label class="tab-label" for="rd1">What's the Dress Code?</label>
        <div class="tab-content">
            Semi-Formal. Our ceremony will be outdoors, so please dress accordingly with layers! Where whatever you are most comfortable in for a fun filled evening of dancing!
        </div>
    </div>
    <div class="tab">
        <input type="radio" id="rd2" name="rd">
        <label class="tab-label" for="rd2">Can I bring a date?</label>
        <div class="tab-content">
            Due to limited space, we ask that you accept invites for only the number allotted on your invitation. 
        </div>
    </div>
        <div class="tab">
        <input type="radio" id="rd4" name="rd">
        <label class="tab-label" for="rd4">What will the day look like?</label>
        <div class="tab-content">
            Our Ceremony will be held outdoors at the outdoor pavilion at Marrara's Mountain Lodge.  Following the ceremony, guests may make their way to the heated back porch and indoor lodge for refreshments while the Bride & Groom take a few sunset photos. We won't keep you waiting for long! After that, we will have dinner and dancing, ending the night with a send-off around 10pm.
        </div>
    </div>
        <div class="tab">
        <input type="radio" id="rd5" name="rd">
        <label class="tab-label" for="rd5">Can I bring my kids? </label>
        <div class="tab-content">
            As many of you know through experience, Macy loves kids. However, we've decided to keep this a child free event. There will be lots of dancing, some non kid friendly beverages, and we would like all parents to have a night where they don't have to chase their little ones! Nursing babies are welcome and there will be a nursing lounge for you to utilize for any baby needs. 
        </div>
    </div>
        <div class="tab">
        <input type="radio" id="rd6" name="rd">
        <label class="tab-label" for="rd6">Will alcohol be served?</label>
        <div class="tab-content">
            Yes, our bartender will be serving complimentary mixed drinks through a limited ticket system. Additionally, unlimited beer and seltzers will be available throughout the night. We ask that our guests would please drink responsibly.
        </div>
    </div>
        <div class="tab">
        <input type="radio" id="rd7" name="rd">
        <label class="tab-label" for="rd7">I have dietary restrictions/allergies. What's the best way to let you know?</label>
        <div class="tab-content">
            For our guests who are gluten free/dairy free there will be food options available for you! Additionally, there will also be a gluten free/dairy free cake. Any additional allergies please contact the bride or groom. 
        </div>
    </div>
    <div class="tab">
        <input type="radio" id="rd3" name="rd">
        <label for="rd3" class="tab-close">Close others &times;</label>
    </div>
</div>