<div class="cen">
    <svg
        version="1.1"
        id="svg48"
        viewBox="0 0 590.66339 234.50247"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg">
        <defs
            id="defs6" />
        <path
            d="M 2.9281317,233.09151 C -3.0741682,228.88733 0.35753117,218.03634 11.33343,206.51404 l 7.372195,-7.73919 -0.03513,-7.31332 c -0.01932,-4.02233 -0.678513,-10.23832 -1.464871,-13.81332 -4.476825,-20.35288 2.172601,-35.80512 16.218407,-37.68906 7.565417,-1.01473 8.51391,4.40974 1.11699,6.38811 -13.542992,3.6222 -15.13268,11.86516 -8.881115,46.05095 0.22292,1.21901 4.684689,-1.52575 20.492804,-12.6066 l 18.341428,-12.8566 7.855743,0.43857 c 7.447515,0.41577 13.654026,1.33957 45.355749,6.75091 43.73082,7.46465 91.21649,-2.59787 123.43674,-26.15704 l 4.93674,-3.60971 -2.93674,-2.42229 c -1.61521,-1.33226 -6.53674,-5.19723 -10.93674,-8.58883 -35.3797,-27.27128 -58.42813,-64.71489 -56.00013,-90.975664 3.56533,-38.5619409 39.07966,-50.5255202 69.15741,-23.296801 7.04803,6.380423 7.7654,6.588922 9.71655,2.824052 12.97497,-25.036034 49.00437,-29.6602886 65.25654,-8.375462 19.97958,26.166457 -4.03726,77.679781 -56.88037,122.001785 -10.37532,8.70226 -10.21761,8.03913 -3,12.61477 77.59892,49.19421 177.34445,40.42833 223.03698,-19.60104 0.67399,-0.88547 1.94627,-5.83547 2.82727,-11 3.78231,-22.172299 17.40066,-57.890053 22.07212,-57.890053 2.92021,0 2.29771,3.379915 -3.11364,16.905689 -3.0817,7.702794 -7.17127,19.726863 -9.08792,26.720154 -5.74678,20.96835 -4.65613,22.47581 4.58291,6.33434 17.09643,-29.869096 26.93228,-33.836778 26.93228,-10.864212 0,14.347632 0.34558,14.644762 8.26527,7.106412 10.12865,-9.64095 14.01183,-10.420868 17.24325,-3.46322 4.9089,10.56951 8.97073,9.88376 24.99148,-4.219231 8.3945,-7.389637 8.8777,-7.69596 10.90976,-6.916188 3.33309,1.279029 1.43343,4.460465 -7.15976,11.990739 -18.12556,15.88355 -26.59819,17.21242 -32.87069,5.15552 -2.10405,-4.04436 -3.47715,-3.51473 -12.31464,4.75 -12.36092,11.5598 -15.06467,10.08405 -15.06467,-8.22251 0,-16.885131 -3.01116,-14.471157 -20.254,16.23715 -9.6832,17.24511 -12.47629,19.91684 -15.99438,15.29943 l -2.04645,-2.68593 -8.73727,8.79571 c -50.27912,50.6154 -140.37375,54.80937 -214.60678,9.99011 -10.05598,-6.07144 -9.3011,-6.09943 -20.55313,0.76204 -39.33405,23.98584 -80.26456,32.31945 -121.80799,24.8006 -4.675,-0.84612 -13.45,-2.42967 -19.500006,-3.51901 -6.05,-1.08933 -15.112799,-2.26503 -20.139553,-2.61267 l -9.139554,-0.63206 -20.69137,14.80226 c -23.085483,16.51496 -22.678641,16.08284 -24.935583,26.48488 -3.48824,16.07697 -12.990706,25.61296 -20.3714323,20.4433 z m 8.6245773,-8.92192 c 2.889837,-3.29134 5.112434,-9.8952 3.779085,-11.22854 -1.734857,-1.73486 -10.3039357,10.49854 -9.2598068,13.2195 0.8721371,2.27275 2.1422322,1.81137 5.4807218,-1.99096 z M 261.78384,132.81027 C 322.91326,81.957013 343.21899,20.436676 303.78498,5.559266 287.20326,-0.69657881 273.88436,5.1102949 258.70931,25.211708 c -6.84699,9.069761 -9.00368,10.598076 -9.00368,6.380363 0,-11.607862 -32.33652,-25.6087833 -47.12427,-20.403656 -39.21603,13.80361 -20.8702,75.409672 36.05893,121.087425 12.67059,10.1664 11.59505,10.14156 23.14355,0.53443 z"
            id="patp43" />
    </svg>
    <h1 class="nameplate">Our Story</h1>
</div>
<div class="container">
<p>Sam and Macy met while Macy was in her senior year of undergrad at The University of Georgia and Sam was sticking around Athens working remotely in the early days of the pandemic. Their first date included milkshakes and Macy talking Sams's ear off. Their second date of course included Metro (Macy's dog at the time) and ended with Sam giving Metro a bath (what a trooper). </p>

<p>In May of 2021 Macy graduated college and decided to accept an offer at The Pennsylvania State University to get her PhD in Educational Psychology. At the time, it was not possible for Sam to move to Pennsylvania and they spent the summer soaking up the months that they only lived 7 minutes apart. In August of 2021 Sam drove the U Haul of Macy's stuff to Pennsylvania to move her in. </p>

<p>Over the next couple months they experienced long distance dating while Macy was in school and Sam was working in Atlanta, GA. To help ease the loneliness, Sam began puppy raising Ella  (the puppy in training Macy was raising), and she would fly back and forth with them, while unfortunately Metro had to stay back in Pennsylvania. </p>

<p>In November of 2021 Sam moved to State College and the long distance was over! During that time Macy discovered Cedar Heights church (through our now wedding planner, we love you Sarah) and they both started attending. They got plugged in with small groups and kids programs and the church became home. Around October of 2022 right before they got engaged Jesus saved them and they are now walking confidently in the Lord's steps. They are grateful to be children of God and work each and every day to live out His will. </p>
<p>On October 28th 2022, Sam took Macy before sunrise to the top of a beautiful mountain with hot cocoa and cozy blankets and they sat and watched the sunrise. After an exchange of some heartfelt words, Sam asked Macy if she would spend forever with him as his wife. Of course she said YES!!!. </p>

<blockquote>John 15:12 “My command is this: Love each other as I have loved you”</blockquote>

<p>After the wedding, Sam and Macy plan to stay in the State College area until Macy finishes her PhD and God calls them to their next destination. </p>

</div>