@media only screen and (max-width: 768px) {
    img.info {
        display: none;
    }
    .party {
        display: none;
    }
    .row > * {
        float: left;
    }
    .row > p {
        max-width: 90%;
    }
    .invi {
        display: none;
    }
}

@media only screen and (max-height: 768px) and (orientation: landscape) {
    img.info {
        display: none;
    }
    svg {
        display: none;
    }
}
