@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&display=swap');
@import 'theme-colors.scss';

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: $backgroundColor;
    color: $textColor;
    font-family: 'Averia Serif Libre', serif;
    font-weight: 300;
    overflow-y: scroll;
    scroll-snap-type: block mandatory;
    scrollbar-width: none;
}
*::selection {
    color: $backgroundColor;
    background-color: $selectColor;
}
h1, h3 {
    font-weight: 300;
}
h1.nameplate {
    font-size: 56px;
}
.bright-font {
    color: $backgroundColor;
}
h1.big {
    font-size: 40px;
}
section {
    scroll-snap-align: center;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    height: 100%;
    background-position-x: center;
    background-position-y: top;
}
a {
    color: inherit;
}
.fade-in {
    animation: fadeInAnimation ease 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
svg {
    fill: $textColor;
}
.cen > svg {
    width: 60%;
    height: auto;
}
.snapper {
    display: none;
}
.cen {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.rgt {
    align-items: right;
    justify-content: right;
    text-align: right;
}
#top {
    background-image: linear-gradient(#293651f2, #5e5a588c), image-url("img_2487.JPG");
}
#top svg {
    fill: $backgroundColor;
}
.goto {
    padding: 1em;
    border: none;
    border-radius: 2em;
    background-color: $buttonColor;
    min-width: 4em;
}
.goto > a {
    color: $buttonTextColor;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}
.goto:hover {
    background-color: $hoverColor;
}
.phold {
    margin-top: 10%;
}
.pane {
    margin-top: 5%;
    margin-right: 5%;
}
.container {
    margin: 10%;
    margin-top: 5%;
}