@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&display=swap");
@import "theme-colors.scss";

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $backgroundColor;
  color: $textColor;
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  scrollbar-width: none;
}
*::selection {
  color: $backgroundColor;
  background-color: $selectColor;
}
h1,
h3 {
  font-weight: 300;
}
h1.nameplate {
  font-size: 56px;
}
.bright-font {
  color: $backgroundColor;
}
h1.big {
  font-size: 40px;
}
.jt {
  height: 100%;
  padding-top: 7%;
}
a {
  color: inherit;
}
.fade-in {
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
svg {
  fill: $textColor;
}
.cen > svg {
  width: 50%;
  height: auto;
}
.cen {
  align-items: center;
  justify-content: center;
  text-align: center;
}
#top {
  background-image: linear-gradient(#293651f2, #5e5a588c),
    image-url("img_2487.JPG");
  padding-top: 8%;
}
#top svg {
  fill: $backgroundColor;
}
.goto {
  padding: 1em;
  border: none;
  border-radius: 2em;
  background-color: $buttonColor;
  min-width: 4em;
}
.goto > a {
  color: $buttonTextColor;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.goto:hover {
  background-color: $hoverColor;
}
.body-text {
  margin: 6%;
  margin-top: 3%;
}
.ib {
  display: inline-block;
  padding-left: 5%;
}
.ib ~ h1 {
  padding-left: 5%;
}
p {
  font-size: 18px;
}
img.party {
    border-radius: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
}